In [1]:
import pandas as pd
import numpy as np

In [3]:
stock_data = pd.read_csv('stock_data.csv')
interested_df = pd.read_csv('interested_df.csv')

stock_data['date'] = pd.to_datetime(stock_data['date'])

In [6]:
stock_data.sort_values(['symbol', 'date'], inplace=True)

stock_data

,Unnamed: 0,open,high,low,close,volume,adj_high,adj_low,adj_close,adj_open,adj_volume,symbol,exchange,date,final_volume
0,250,7.09,7.25,7.03,7.04,2142838.0,7.202303,6.983750,6.993684,7.043355,2142838.0,AMC,XNYS,2020-02-18 00:00:00+00:00,2142838.0
1,249,7.10,7.44,7.06,7.31,2305750.0,7.391053,7.013553,7.261908,7.053289,2305750.0,AMC,XNYS,2020-02-19 00:00:00+00:00,2305750.0
2,248,7.32,7.78,7.21,7.76,3647809.0,7.728816,7.162566,7.708947,7.271842,3647809.0,AMC,XNYS,2020-02-20 00:00:00+00:00,3647809.0
3,247,7.70,7.75,7.33,7.46,3034340.0,7.699013,7.281776,7.410921,7.649342,3034340.0,AMC,XNYS,2020-02-21 00:00:00+00:00,3034340.0
4,246,7.14,7.14,6.84,7.05,3210216.0,7.093026,6.795000,7.003618,7.093026,3210216.0,AMC,XNYS,2020-02-24 00:00:00+00:00,3210216.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
497,4,2100.00,2115.00,2063.35,2084.52,1441443.0,2115.000000,2063.350000,2084.520000,2100.000000,1441443.0,GOOGL,XNAS,2021-02-08 00:00:00+00:00,1441443.0
498,3,2074.80,2098.51,2070.00,2075.39,1093053.0,2098.510000,2070.000000,2075.390000,2074.800000,1093053.0,GOOGL,XNAS,2021-02-09 00:00:00+00:00,1093053.0
499,2,2083.14,2098.88,2052.24,2086.48,1252689.0,2098.880000,2052.240000,2086.480000,2083.140000,1252689.0,GOOGL,XNAS,2021-02-10 00:00:00+00:00,1252689.0
500,1,2091.00,2094.00,2068.86,2088.75,1024029.0,2094.000000,2068.860000,2088.750000,2091.000000,1024029.0,GOOGL,XNAS,2021-02-11 00:00:00+00:00,1024029.0
501,0,2079.77,2099.50,2073.57,2095.03,949525.0,2099.500000,2073.570000,2095.030000,2079.770000,949525.0,GOOGL,XNAS,2021-02-12 00:00:00+00:00,949525.0

In [10]:
initial_df = stock_data.groupby(['symbol']).first()[['adj_high', 'adj_close', 'adj_open']]
initial_df

           adj_high    adj_close     adj_open
symbol
AMC        7.202303     6.993684     7.043355
APA       28.132932    28.028237    26.971321
GOOGL   1530.560000  1519.440000  1514.340000